<footer class="page-footer orange lighten-1">
         <div class="container">
           <div class="row">
             <div class="col l6 s12">
               <h5 class="white-text">WDI-33 Project 2</h5>
               <p class="grey-text text-lighten-4">This website was created and developed as part of a course in Web-development</p>
             </div>
             <div class="col l4 offset-l2 s12">
               <h5 class="white-text">Get Aroud</h5>
               <ul>
                 <% if(locals.isLoggedIn){%>
                   <li><a class="grey-text text-lighten-3" href="/logout">Logout (Signed in as <%= locals.user.username %>)</a></li>
                   <% console.log('in navbar--->',locals.user)%>
                   <% } else { %>
                     <li><a class="grey-text text-lighten-3" href="/signup">Sign Up</a></li>
                     <li><a class="grey-text text-lighten-3" href="/signin">Sign In</a></li>
                   <% } %>
                   <li><a class="grey-text text-lighten-3" href="/posts">Reviews</a></li>
                   <li><a class="grey-text text-lighten-3" href="/posts/new">Create New Review</a></li>
               </ul>
             </div>
           </div>
         </div>
         <div class="footer-copyright">
           <div class="container">
           © 2018 Made by Alex Poynter
           <a class="grey-text text-lighten-4 right" href="https://github.com/Poynter111">Alex Poynter Github</a>
           </div>
         </div>
       </footer>
