<div class="row">
  <% if(messages.danger){ %>
    <div class="col s12 l12">
      <div class="card red lighten-3">
        <div class="card-content red-text">
          <span class="card-title"><%= messages.danger %></span>
        </div>
      </div>
    </div>
  <% } %>
  <h2>Create Review</h2>
  <form class="col l12" action="/posts" method="post">
    <div class="input-field col l12">
      <input type="text" name="name" id="name_field">
      <label for="name_field">Name of Resteraunt</label>
    </div>
    <div class="input-field col l12">
      <input type="text" name="location" id="location_field">
      <label for="location_field">Location</label>
    </div>
    <div class="input-field col l12">
      <input type="text" class="datepicker" name="date" id="date_field" required>
      <label for="date_field">Date</label>
    </div>
    <div class="input-field col l12">
      <input type="text" name="photo" id="photo_field" required>
      <label for="photo_field">Link to photo</label>
    </div>
    <div class="input-field col s12 l6">
      <select name="rating" id="rating_field">
        <option value="" disabled selected>How was your Overall experience?</option>
        <option value="1">1 Star</option>
        <option value="2">2 Star's</option>
        <option value="3">3 Star's</option>
        <option value="4">4 Star's</option>
        <option value="5">5 Star's</option>
      </select>
      <label for="rating_field">Overall Rating</label>
    </div>
    <div class="input-field col l6">
      <select name="service" id="service_field">
        <option value="" disabled selected>How was the service?</option>
        <option value="1">1 Star</option>
        <option value="2">2 Star's</option>
        <option value="3">3 Star's</option>
        <option value="4">4 Star's</option>
        <option value="5">5 Star's</option>
      </select>
      <label for="service_field">Service rating</label>
    </div>
    <div class="input-field col l6">
      <select name="price" id="price_field">
        <option value="" disabled selected>How was the value for money?</option>
        <option value="1">1 Star</option>
        <option value="2">2 Star's</option>
        <option value="3">3 Star's</option>
        <option value="4">4 Star's</option>
        <option value="5">5 Star's</option>
      </select>
      <label for="price_field">Price rating</label>
    </div>
    <div class="input-field col l6">
      <select name="food" id="food_field">
        <option value="" disabled selected>How was the food?</option>
        <option value="1">1 Star</option>
        <option value="2">2 Star's</option>
        <option value="3">3 Star's</option>
        <option value="4">4 Star's</option>
        <option value="5">5 Star's</option>
      </select>
      <label for="food_field">Food rating</label>
    </div>
    <div class="input-field col l12">
      <button class="green btn">Create New Review</button>
    </div>
  </form>
</div>
