<div class="row">
  <% if(messages.danger){ %>
    <div class="col s12 l12">
      <div class="card red lighten-3">
        <div class="card-content red-text">
          <span class="card-title"><%= messages.danger %></span>
        </div>
      </div>
    </div>
  <% } %>
  <h2>Create Review</h2>
  <form class="col l12" action="/posts" method="post">
    <div class="input-field col l12">
      <input type="text" name="name" id="name_field">
      <label for="name_field">Name of Resteraunt</label>
    </div>
    <div class="input-field col l12">
      <input type="text" name="location" id="location_field">
      <label for="location_field">Location</label>
    </div>
    <div class="input-field col l12">
      <input type="date" name="date" id="date_field" required>
      <label for="date_field">Date</label>
    </div>
    <div class="input-field col l12">
      <input type="text" name="photo" id="photo_field" required>
      <label for="photo_field">Link to photo</label>
    </div>
    <div class="input-field col l12">
      <input type="number" name="rating" id="rating_field">
      <label for="rating_field">Rating</label>
    </div>
    <div class="input-field col l12">
      <button class="green btn">Creat New Review</button>
    </div>
  </form>
</div>
